<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>História da ARPANET</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<x-topo></x-topo>
<!-- Projeto AAP001 e AAP002 - Pedro Henrique Braz Martins -->

<!-- Div Cabeçalho -->
<div>
    <img src="https://preview.redd.it/4hsz4i5b6k8d1.png?auto=webp&s=7b4dfef57406867267cd3a9691d9959f16c1b324" alt="">
    </div>
    <!-- Fim Cabeçalho -->

    <!-- Espaço -->

    <!-- Div da Imagem-->
    <div>
    <img class="" src="https://thumbs.jusbr.com/imgs.jusbr.com/publications/images/085acecc16e9b01e84ae6297effe4f34" alt="">
    </div>
    <!-- Fim da Div Imagem -->


    <!-- Div Menu Principal -->
    <div class=" p-1 bg-white">
    </div>
    <!-- Fim da Div Menu -->

    <!-- Divs dos Parágrafos -->

    <div class="bg-black p-5 text-white text-center text-5xl font-bold">
    História da ARPANET
    </div>

    <!-- Espaço -->

    <div class="bg-gray-600 p-5 m-2 rounded-2xl  text-white text-2xl"> A A ARPANET (Advanced Research Projects Agency Network) foi a precursora da Internet moderna. Ela nasceu da necessidade de comunicações robustas durante a Guerra Fria.

    Sua arquitetura descentralizada e o uso do protocolo TCP/IP lançaram as bases para a expansão da Internet como a conhecemos, tornando-a uma ferramenta essencial para a sociedade global que catalisou uma revolução na forma como as pessoas se comunicam e interagem.
    </div>

    <!-- Espaço -->

    <div class="bg-gray-600 p-5 m-2 rounded-2xl text-white text-2xl">
    A colaboração entre a ARPA (Advanced Research Projects Agency) e a Bolt, Beranek and Newman Inc. (BBN) em 1966 marcou o início do projeto que se tornaria a ARPANET. A BBN foi contratada para realizar um estudo de viabilidade em uma rede de comunicações robusta, que culminaria no projeto da ARPANET.

    Em 29 de outubro de 1969, um evento aparentemente trivial marcou o nascimento de uma revolução que mudaria para sempre a maneira como a humanidade se comunica e compartilha informações. Charley Kline, um estudante da UCLA (Universidade da Califórnia, Los Angeles), sentou-se em um terminal de computador e digitou um comando destinado a outro computador no Stanford Research Institute, localizado a cerca de 560 quilômetros de distância.
    </div>

    <!-- Espaço -->

    <div class="bg-gray-600 p-5 m-2 rounded-2xl text-white text-2xl">
    O comando era simples: "Log in". Entretanto, esse gesto aparentemente insignificante resultou em um erro que fez com que o sistema de Stanford travasse após receber apenas as duas primeiras letras.
    </div>

    <!-- Espaço -->

    <div class="bg-gray-600 p-5 m-2 rounded-2xl text-white text-2xl">
    Foi um tropeço, mas desse tropeço nasceu a ARPANET, uma rede de comunicação que revolucionaria o mundo. A visão de uma rede que não dependia de um único ponto central e que podia se adaptar a falhas e interrupções na comunicação logo se tornou a espinha dorsal do projeto.

    Ao contrário do que muitas pessoas pensam, seu objetivo original não era controlar os sistemas de defesa nuclear, mas criar uma rede de comunicação que permitisse que os vários centros de pesquisa envolvidos nos projetos da ARPA se comunicassem, compartilhassem informações e recursos. Havia a necessidade de uma rede de comunicação robusta e descentralizada que pudesse sobreviver a ataques nucleares.
    </div>

    <!-- Espaço -->

    <div class="bg-gray-600 p-5 m-2 rounded-2xl text-white text-2xl">
    A ARPANET atingiu um marco importante com a criação da primeira conexão entre quatro universidades importantes: UCLA, Stanford, UC Santa Barbara e a Universidade de Utah. Essa conexão pioneira empregou o conceito revolucionário de comutação de pacotes: em vez de enviar informações como um fluxo contínuo, os dados eram divididos em pequenos pacotes que podiam ser transmitidos individualmente e remontados no destino. Essa abordagem inovadora tornou a rede resistente a falhas, pois, mesmo que um caminho de comunicação fosse interrompido, os pacotes de dados poderiam encontrar rotas alternativas para seu destino.
    </div>

    <!-- Espaço -->

    <div class="bg-gray-600 p-5 m-2 rounded-2xl text-white text-2xl">
    A ARPANET continuou a crescer e a evoluir. Em 1973, ela estava conectando 37 nós de comunicação nos Estados Unidos. Ela também começou a adotar o TCP/IP (Transmission Control Protocol/Internet Protocol), que se tornou a espinha dorsal da comunicação na . Ele estabeleceu um padrão que permitiu que diferentes tipos de computadores se comunicassem de forma eficaz pela rede, garantindo que as informações pudessem fluir livremente entre sistemas heterogêneos.

    A expansão dessa rede para outros países começou no mesmo ano, com uma instituição de pesquisa na Noruega. Logo depois, foi adicionado um nó em Londres, marcando os primeiros passos em direção a uma rede global que, por fim, abrangeria todo o planeta.

    </div>

    <!-- Espaço -->

    <div class="bg-gray-600 p-5 m-2 rounded-2xl text-white text-2xl">
    Embora a ARPANET tenha sido desmantelada em 1990, seu legado continua vivo na forma da Internet global. A ARPANET, devido à sua capacidade de sobreviver a falhas e ataques, bem como à sua natureza colaborativa, teve um impacto profundo na maneira como as pessoas e as instituições se comunicam e compartilham informações. Sua importância vai muito além da simples criação de uma rede de computadores: ela lançou as bases para a revolução digital que mudaria o mundo contemporâneo.

    Sua natureza colaborativa é um dos aspectos mais notáveis de sua história: ao conectar instituições de pesquisa e universidades, a rede promoveu a colaboração entre cientistas e pesquisadores. A troca de informações tornou-se mais rápida e eficiente, permitindo a colaboração em projetos de pesquisa e o compartilhamento de resultados. Os cientistas puderam se comunicar e colaborar em tempo real, independentemente de sua localização geográfica, o que foi um avanço significativo na época.
    </div>

    <!-- Espaço -->

    <div class="bg-gray-600 p-5 m-2 rounded-2xl text-white text-2xl">
    O e-mail, um dos primeiros aplicativos desenvolvidos na ARPANET, revolucionou a comunicação de longa distância e permitiu que as pessoas enviassem mensagens de um computador para outro, criando uma forma de comunicação rápida e eficiente. Com o tempo, essa tecnologia evoluiu para os sistemas de e-mail que usamos hoje, desempenhando um papel fundamental na comunicação moderna.
    </div>

    <!-- Espaço -->

    <div class="bg-gray-600 p-5 m-2 rounded-2xl text-white text-2xl">
    Além disso, a ARPANET promoveu o desenvolvimento de sistemas de arquivos distribuídos, o que permitiu o armazenamento descentralizado de dados. Isso significava que as informações não estavam mais vinculadas a um único servidor central, tornando a rede mais resistente a falhas. Mesmo que um nó de comunicação falhasse, os dados poderiam ser acessados de outros locais, garantindo maior estabilidade e disponibilidade.
    </div>

    <!-- Espaço -->

    <div class="bg-gray-600 p-5 m-2 rounded-2xl text-white text-2xl">
    A ARPANET não apenas estabeleceu as bases da internet moderna, mas também mudou a forma como a humanidade se comunica e compartilha informações, acelerou o progresso científico e tecnológico e, em resumo, transformou o mundo contemporâneo ao permitir comunicação e colaboração sem precedentes.
    </div>

    <!-- Espaço -->

    <!-- Div Rodape Final -->
    <div class="bg-red-600 font-normal h-30 m-2 text-white">

    <a href="fatec.html" class="text-blue-500 hover:underline">
     Voltar para os cursos da Fatec Tatuí
    </a>




    </div>
    <!-- Fim das Atividades AAP001 e AAP002 -->
