
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Fatec Tatuí - Cursos</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<!-- Projeto AAP Tables - Pedro Henrique Braz Martins -->

<!-- Div Principal  -->
<div class="bg-white h-screen flex">

    <!-- Div Barra lateral -->
    <div class="bg-gray-600 w-15 h-full">
    </div>
    <!-- Fim da Div Barra lateral -->


    <!-- Espaço -->


    <!-- Div de Conf.1-->
    <div class="flex flex-col w-full">


    <!-- Div Cabeçalho -->
    <div class="bg-gray-600 w-full p-4 text-white">
    <img src=" https://www.fatectatui.edu.br/site4/imagens/topoNovoRodape.png" alt="">
    </div>
    <!-- Fim Div Cabeçalho -->


    <!-- Divs Menu -->
    <div class="bg-red-600 flex space-x-10  p-3 text-white">

    <div class="text-white font-bold">Cursos Gerais</div>
    <div class="text-white font-bold">Períodos Gerais</div>
    <div class="text-white font-bold">Semestres Gerais</div>
    <div class="text-white font-bold">Disciplinas Gerais</div>
    <div class="text-white font-bold">Objetivos Gerais</div>
    <div class="text-white font-bold">Direção Acadêmica</div>

    </div>
    <!-- Fim Divs Menu -->

    <!-- Divs Titulo -->
    <div class="bg-black h-20 p-5 text-white text-3xl font-bold text-center">Cursos e Períodos </div>
    <div class="bg-gray-600 h-2"</div>
    <!-- FIm Divs Titulos -->

    <!-- Divs Conteúdo -->
    </div>
    <!-- Fim da Div Conf.1 -->


    <!-- Div Conf.2 -->
    <div class="bg-white h-full flex text-white">

    <!-- Análise e Desenvolvimento de Sistemas -->
    <div class="rounded-2xl h-35 m-2 w-40 font-normal bg-gray-500 p-2"
    >Análise e Desenvolvimento de Sistemas [AMS]
    <div class="text-white w-40 ">Turnos: Vespertino
    </div>
    </div>
    <!-- Fim da Análise e Desenvolvimento de Sistemas -->

    <!-- Automação Industrial -->
    <div class="rounded-2xl h-35 m-2 w-40 font-normal bg-gray-500 p-2"
    >Automação Industrial
    <div class="text-white w-40 ">Turnos: Matutino e Noturno
    </div>
    </div>
    <!-- Fim da Automação Industrial -->

    <!-- Gestão de TI -->
    <div class="rounded-2xl h-35 m-2 w-40 font-normal bg-gray-500 p-2"
    >Gestão da Tecnologia da Informação
    <div class="text-white w-40 ">Turnos: Matutino e Noturno
    </div>
    </div>
    <!-- Fim da Gestão TI -->

    <!-- Gestão Empresarial -->
    <div class="rounded-2xl h-35 m-2 w-40 font-normal bg-gray-500 p-2"
    >Gestão Empresarial
    <div class="text-white w-40 ">Turnos: Vespertino e Noturno
    </div>
    </div>
    <!-- Fim da Gestão Empresarial -->
    </div>
    <!-- FIm Divs Conf.2 -->



    <!-- Intervalo -->



    <!-- Div Conf.3 -->
    <div class="bg-white h-500 flex text-white">

    <!-- Manuntenção Industrial -->
    <div class="rounded-2xl h-35 m-2 w-40 font-normal bg-gray-500 p-2"
    >Manuntenção Industrial
    <div class="text-white w-40 ">Turnos: Matutino e Noturno
    </div>
    </div>
    <!-- Fim da Manuntenção Industrial -->

    <!-- Processos Gerenciais-->
    <div class="rounded-2xl h-35 m-2 w-40 font-normal bg-gray-500 p-2"
    >Processos Gerenciais
    <div class="text-white w-40 ">Turnos: Vespertino
    </div>
    </div>
    <!-- Fim dos Processos Gerenciais -->

    <!-- Produção Fornográfica-->
    <div class="rounded-2xl h-35 m-2 w-40 font-normal bg-gray-500 p-2"
    >Produção Fornográfica
    <div class="text-white w-40 ">Turnos: Vespertino
    </div>
    </div>
    <!-- Fim da Produção Fornográfica -->

    <!-- Link de Acesso ao Site da W.W.W e o site da Arpanet -->
    <a href="arpanet.html" class="text-blue-500 hover:underline">
        Leia sobre a história da ARPANET
      </a>
    <!-- Fim do link de ambos os sites -->

    </div>
    <!--Fim Div Conf.3 -->

    </div>
    <!-- Fim da Div Principal -->

    </div>
    <!-- Fim Div Principal 1 -->

